header{
    background-color: rgb(138, 150, 150);
    display: flex;
    justify-content: space-around;

    
}
h1{
    margin-left: 50px;
    display: inline-block;
    background-color: rgb(134, 119, 119);
    padding: 20px;
    border-radius: 30px;
    color: aliceblue;
    font-size: 30px;
}

h2{
    color: rgb(2, 247, 255);
    margin-top: 40px;
    font-size: 30px;
    font-style: italic;
}

aside{
    list-style: none;
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px; 
    background-color: rgb(203, 255, 106);
    border-radius: 30px;
}
section{
    display: flex;
   justify-content: space-around;
}
li{
    padding: 20px;
    border-radius: 50px;
}
li:hover{
    background-color: rgb(91, 255, 255);
    cursor: pointer;
}
.photo:hover{
    cursor: crosshair;
}
a{
    text-decoration: none;

}
.submit{margin-top: 100px;
   align-self: center;
   margin-left: 50px;
   color: aliceblue;
   font-size: 20px;
    padding: 20px;
    border-radius: 30px;
    background-color: rgb(0, 0, 27);
    
}
.submit:hover{
    background-color: rgb(145, 26, 26);
}
.buttons{
    justify-content: center;
}
.photo{
    width: 150px;
    height: 150px;
    margin: 20px;
    border-radius: 50px;

}
h3{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
}
.container{
    flex-direction: column;
    border-radius: 30px;
    background-color: rgb(229, 255, 116);
}
.box{
display: flex;
width: 600px;
flex-wrap: wrap;
justify-content: center;
border-radius: 20px;

}
footer{
    margin-top: 50px;
    background-color: rgb(185, 179, 171);
    display: flex;
    justify-content: space-around;
}
h4{
  
    width: 150px;
    height: 20px;
    font-size: 30px;
}
.image{
    margin-top: 50px;
   
    width: 20px;
    height: 20px;
}
